@charset "UTF-8";

:root{
    --primary: #2F2D2E;
    --secondary: #E0E2DB;
    --dafault: #004FFF;
    --failed: #D00000;
    --sucess: #036D19;
}
#navbar{
    background-color: var(--dafault);
}
.form-main{
    width: 600px;
}
.section-main{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    
}
i{
    color: black;
    margin-right: 10px;
}
.table{
    margin-top: 30px;
    display: none;
}